
.product-img {

  width: 250px;
height: 220px;

}
.product-top{
  width: 250px;
  height: 250px;
}
.product-bottom{
  width: 250px;
  height: 60px;
  
}
.product-item {
  width: 250px;
    height: 478px;
   margin: 10px; 
}
.product-detail{
  padding: 2px;
}
.product-title {
  
  width: 225px;
  height: 22px;
}
.product-price {
  
width: 60px;
height: 22px;


/* Span */

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */

text-align: right;

}

